* {
  box-sizing: border-box;
  margin: 0;
}
.App {
  text-align: center;
}
.App-header {
  background-color: #387002;
  height: 70px;
  display: flex;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: #f6f06d;
  padding: 2% 12%;
  align-items: center;
}
.header-text {
  display: flex;
}
.logo-container {
  display: flex;
  align-items: center;
}
.logo-container img {
  height: 70px;
  width: 70px;
  padding: 8px;
}
.menu-bar {
  cursor: pointer;
}
.container {
  margin: 1rem 12%;
}
/* .animation1 {
  animation: slide 0.5s ease-in;
}
.animation2 {
  animation: slide 0.5s ease-in;
  animation-delay: 1s;
}
.animation3 {
  animation: slide 0.5s ease-in;
  animation-delay: 2s;
}
@keyframes slide {
  0% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0px);
  }
} */
.start {
  text-align: left;
  color: #67a042;
  font-size: 2.5rem;
}
.start span {
  font-weight: 600;
}
.start div {
  display: inline-block;
  margin-right: 10px;
}
.info {
  font-size: 1.8rem;
  text-align: left;
}
.info img {
  width: 200px;
  border-radius: 5px;
  margin: 1rem 0;
  display: block;
}
.text1 {
  color: #2b9348;
}
.text2 {
  font-weight: 500;
  color: #656565;
}
main {
  display: flex;
  justify-content: space-evenly;
}
.banners {
  display: flex;
  justify-content: space-evenly;
}
.test2 {
  margin-left: 2%;
  transform: translateY(-25px);
}
.banners {
  margin-left: 5%;
}
.banners img {
  object-fit: contain;
  height: 150px;
}
.banner1 {
  border-top-left-radius: 20px;
}
.banner2 {
  border-bottom-left-radius: 20px;
}
.banner3 {
  border-top-right-radius: 20px;
}
.banner4 {
  border-bottom-right-radius: 20px;
}
.about {
  margin: 2rem 0;
}
.about h3 {
  text-align: center;
  margin-bottom: 1rem;
}
.about > p {
  margin-bottom: 1rem;
}
.about h3,
.about p {
  color: rgb(82, 81, 81);
}
.about img {
  float: left;
  height: auto;
  width: 255px;
  margin-right: 2%;
}
.about div {
  text-align: left;
  /* padding: 3%; */
}
.fbGoals {
  margin: 4rem 0;
}
.Rating {
  border-radius: 50%;
  background-image: linear-gradient(#357036, #84f91c);
  height: 100px;
  width: 100px;
  padding: 1rem;
  margin: 1rem;
  align-content: center;
  box-shadow: 2px 2px 12px grey;
}
.goals {
  display: flex;
  margin: 1.7rem 0;
  justify-content: space-evenly;
}
.Goal {
  height: 200px;
  width: 19%;
  border-radius: 10px;
  box-shadow: 2px 2px 20px grey;
  padding: 6px;
}
.Goal p {
  color: #387002;
  font-size: 20px;
  margin-bottom: 1rem;
}
.Goal svg {
  height: 100px;
}
.Rating span {
  color: #f6f06d;
}
.contain {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}
.images {
  display: grid;
  grid-template-columns: auto auto;
}
.farmers {
  margin: 4rem 0;
}
.farmers h1 {
  margin: 2rem;
}
.farmers img {
  width: 100%;
  margin-top: 2rem;
}
.partner-logo {
  display: flex;
  justify-content: space-evenly;
  margin: 1rem;
}
.partner-logo img {
  width: 19%;
  height: 117px;
}
.partner-logo img:hover {
  box-shadow: 0px 0px 6px -1px grey;
  cursor: pointer;
}
.footer {
  background-color: #387002;
  display: flex;
  justify-content: space-evenly;
  height: auto;
  color: #f6f06d;
}
.social-icons {
  display: flex;
  justify-content: space-between;
}
.social-icons svg {
  margin-right: 3%;
}
.Contacts div {
  display: flex;
  justify-content: left;
  align-items: center;
}
.numbers {
  flex-direction: column;
}
